[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
adal = "*"
astroid = "*"
azure-common = "*"
azure-servicebus = "*"
certifi = "*"
cffi = "*"
chardet = "*"
click = "*"
colorama = "*"
cryptography = "*"
flask = "*"
flask-sqlalchemy = "*"
idna = "*"
isodate = "*"
isort = "*"
itsdangerous = "*"
jinja2 = "*"
lazy-object-proxy = "*"
markupsafe = "*"
mccabe = "*"
msrest = "*"
msrestazure = "*"
oauthlib = "*"
psycopg2-binary = "*"
pycparser = "*"
pyjwt = "*"
pylint = "*"
python-dateutil = "*"
python-http-client = "*"
requests = "*"
requests-oauthlib = "*"
sendgrid = "*"
six = "*"
sqlalchemy = "*"
toml = "*"
uamqp = "*"
urllib3 = "*"
werkzeug = "*"
wrapt = "*"

[dev-packages]

[requires]
python_version = "3.7.3"
